.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 5vw);

  &__list {
    list-style: none;
  }

  &__item {
    width: 50%;
    min-height: 40px;

    &:nth-of-type(1) {
      background-color: red;
    }
  }
}
