.blog {
  display: flex;
  flex-direction: column;

  &__categories {
    align-self: center;
    margin: 0 auto 3rem auto;
  }

  &__category {
    text-transform: uppercase;
    font-size: 1.7rem;
    padding: 1.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &--active {
      border: 2px solid #2f3640;
    }
  }

  &__posts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      & > * {
        width: 100%;
        &:not(:first-child) {
          margin-top: 3rem;
        }
      }
    }
  }
}
