.footer {
  padding: 2rem 0 3rem 0;
  background: #2f3640;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 3px solid #7f8fa6;
  &__container {
    width: 90%;
    max-width: 120rem;
  }
  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0rem;
    padding: 2rem;
  }
  &__single {
    margin-top: 1rem;
    flex: 0 1 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &:first-child {
      flex: 0 1 40%;
      padding-right: 5rem;
    }
  }
  &__title {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    width: fit-content;
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 2rem;
  }
  &__description {
    font-size: 1.6rem;
  }
  &__social {
    margin-top: 2rem;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
  &__social-link {
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    text-align: center;
    line-height: 4rem;
    transition: all 0.3s;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      background-color: white;
      color: rgb(27, 156, 252);
      transform: scale(1.2);
    }
  }
  &__link {
    color: white;
    transition: all 0.4s;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 0.2rem 0;
    margin-left: 1rem;
    font-size: 1.7rem;
    display: inline-block;
    & i {
      margin-right: 0.5rem;
    }
    &:hover {
      transform: translateX(1rem);
      backface-visibility: hidden;
    }
  }
}

@media only screen and (max-width: 920px) {
  .footer {
    &__main {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
    &__single {
      flex: 0 1 100%;
    }
  }
}
