@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #2f3640;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.content {
  margin: 30px auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }
  &__subtitle {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 4rem;
  }
}
