.header {
  padding: 2rem 0 2rem 0;
  background: #2f3640;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 3px solid #7f8fa6;
  border-top: 2px solid #7f8fa6;

  &__logotoggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__toggle {
    display: none;
    @media only screen and (max-width: 786px) {
      display: block;
      position: relative;
      width: 3rem;
      height: 1rem;
      transition: all 0.4s;
      backface-visibility: hidden;
      &:hover {
        transform: scale(1.1);
      }
      cursor: pointer;
      &::after,
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        display: block;
        transition: all 0.3s;
        backface-visibility: hidden;
      }
      &::before {
        top: 0px;
      }
      &::after {
        top: 1rem;
      }
      &--active {
        &::before {
          top: 0.5rem;
          transform: rotateZ(45deg);
        }
        &::after {
          top: 0.5rem;
          transform: rotateZ(-45deg);
        }
      }
    }
  }

  &__button {
    background-color: white;
    color: #2f3640;
    &:hover {
      background-color: darken(white, 10%);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    max-width: 90%;
    align-items: center;
    @media only screen and (max-width: 786px) {
      flex-direction: column;
    }
  }

  &__logo {
    font-family: "Berkshire Swash", cursive;
    color: white;
    font-size: 4rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #ced6e0;
    }
  }

  &__navigation {
    @media only screen and (max-width: 786px) {
      height: 0;
      transition: all 0.4s;
      -webkit-transition-duration: 0.4s;
      overflow: hidden;
      &--active {
        height: fit-content;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media only screen and (max-width: 786px) {
      margin-top: 2rem;
    }
  }

  &__item {
    margin-left: 2rem;
    font-size: 1.8rem;
  }

  &__link {
    color: white;
    display: block;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    &:hover {
      color: #ced6e0;
    }
  }
}
