.header {
  padding: 2rem 0 2rem 0;
  background: #2f3640;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 3px solid #7f8fa6;
  border-top: 2px solid #7f8fa6;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 95px;
  transition: all 0.2s ease-in-out;

  &__logotoggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__toggle {
    display: none;

    @media only screen and (max-width: 820px) {
      display: block;
      position: relative;
      width: 3rem;
      height: 1rem;
      transition: all 0.4s;
      backface-visibility: hidden;
      &:hover {
        transform: scale(1.1);
      }
      cursor: pointer;
      &::after,
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        display: block;
        transition: all 0.3s;
        backface-visibility: hidden;
      }
      &::before {
        top: 0px;
      }
      &::after {
        top: 1rem;
      }
      &--active {
        &::before {
          top: 0.5rem;
          transform: rotateZ(45deg);
        }
        &::after {
          top: 0.5rem;
          transform: rotateZ(-45deg);
        }
      }
    }
  }

  &__button {
    color: #2f3640;
    padding: 2rem;
    background-color: white;
    padding: 0.5rem;
    font-size: 3rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: darken(white, 10%);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    max-width: 90%;
    align-items: center;
    @media only screen and (max-width: 820px) {
      flex-direction: column;
    }
  }

  &__logo {
    font-family: "Berkshire Swash", cursive;
    color: white;
    font-size: 4rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #ced6e0;
    }
  }

  &.compressed {
    height: 65px;

    & .header__logo {
      font-size: 3rem;
    }
  }

  &__navigation {
    @media only screen and (max-width: 820px) {
      height: 0;
      transition: all 0.4s;
      -webkit-transition-duration: 0.4s;
      overflow: hidden;
      align-self: stretch;
      &--active {
        height: fit-content;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media only screen and (max-width: 820px) {
      margin-top: 2rem;
    }
    @media only screen and (max-width: 430px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    margin-left: 2rem;
    font-size: 1.8rem;
    position: relative;
    display: flex;
    align-items: stretch;
    @media only screen and (max-width: 430px) {
      margin-left: 22px;
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
    &:last-child {
      @media only screen and (max-width: 820px) {
        margin-left: auto;
      }
      @media only screen and (max-width: 430px) {
        margin-left: 22px;
      }
    }
  }

  &__link {
    color: white;
    display: block;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      color: #ced6e0;
    }
  }
}

.sublinks {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  margin-top: 2rem;

  &::before {
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -15px;
    z-index: 999999;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
  }

  &__link {
    padding: 1rem;
  }
}
